@page
@model NoteTakingApp.Pages.Notes.UpdateModel
@{
}

<div class="container pt-5">
    <form method="post">
        <div class="row d-flex justify-content-center pt-5">
            <div class="col-6 p-5 border border-dark" style="border-radius: 15px">

                <div class="mb-3">
                    <label class="form-label h4" asp-for="Model.Title">Title</label>
                    <input type="text" class="form-control" placeholder="Your title" asp-for="Model.Title" value="@Model.Model.Title"/>
                    <span class="text-danger" asp-validation-for="Model.Title"></span>
                </div>

                <div class="mb-4">
                    <label class="form-label h4" asp-for="Model.Description">Description</label>
                    <textarea class="form-control" placeholder="Leave a comment here" asp-for="Model.Description" style="height: 150px">@Model.Model.Description</textarea>
                    <span class="text-danger" asp-validation-for="Model.Description"></span>
                </div>

                <div class="mb-3 d-flex justify-content-center">
                    <input type="hidden" asp-for="Model.NoteId"/>
                    <button type="submit" class="btn btn-lg btn-primary" asp-page-handler="Update">Update</button>
                </div>

            </div>

        </div>

    </form>
</div>